label{
    color: rgb(13, 13, 15);
    font-weight:  italicbold;
    padding-bottom: 10px;
    font-size: 25px;
    padding-top: 12px;
    display: inline-block;
}

form{
    background-color: grey;
    width: 450px;
    border-radius: 35px;
    height: 450px;
    padding: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 50px auto 50px;

}
input,textarea{
    box-sizing: border-box;
    width: 400px;
    height: 32px;
    padding-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    height: 55px;
    width:15px;
}


button{
    flex-grow: 1;
    font-weight:  bold;
    width: 125px;
    margin: 35px; 
    border:1px solid black;
    border-radius: 30px;
    height: 35px;
    font-size: 23px;
    text-align: center;
    
}

button#send{
    background-color: red;
    color: rgb(249, 249, 249);
    
}

button#reset{
    background-color: rgb(54, 207, 253);
    color: black;
}

form h2{
    color: rgb(67, 6, 6);
    text-align: center;
    font-size: 40px;
}
