label{
    color: rgb(12, 12, 13);
    font-weight:  bold;
    padding-bottom: 6px;
    font-size: 18px;
    padding-top: 12px;
    display: inline-block;
}

form{
    background-color: rgb(164, 159, 159);
    width: 450px;
    border-radius: 30px;
    height: 450px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 50px auto 50px;

}
input,textarea{
    box-sizing: border-box;
    width: 400px;
    height: 32px;
    padding-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    height: 55px;
}


button{
    flex-grow: 1;
    font-weight:  bold;
    width: 125px;
    margin: 25px; 
    border:grey;
    border-radius: 30px;
    height: 35px;
    font-size: 23px;
    text-align: center;
    
}

button#send{
    background-color: rgb(53, 156, 65);
    color: rgb(249, 249, 249);
    
}

button#reset{
    background-color: rgb(54, 207, 253);
    color: black;
}

form h2{
    color: black;
    text-align: center;
    font-size: 40px;
}
